@font-face {
    font-family: avenirNext;
    src: url(../fonts/avenir-next-regular.woff);
}

:root {
  --main-color: #005688;
}

html, body {
    font-family: avenirNext;
    margin: 0;
    padding: 0;
    height:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#header {
    background-color: var(--main-color);
    border-bottom: 1px #1391cc solid;
    box-shadow: 0px 0px 1px lightgray;
    width: 100%;
    height:130px;
    animation: .9s easein;
    transition: ease .4s;
}

#main {
    width: 100%;
    min-height:100%;
    height:100%;
    position:relative;
    margin-top:-65px;
    text-align: center;
    animation: 1s easein;
    display:flex;
    flex-direction: column;
    padding-bottom:50px;
}

.profile-photo {
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    width:120px;
    height:120px;
}

h1 {
    display:inline-block;
    margin-top:5px;
    margin-bottom:2px;
    font-size: 35px;
    font-weight: lighter;
}

h4 {
    margin-top:0px;
    color: #888;
    font-weight: lighter;
}

i {
    margin-right:3px;
}

i.fa-envelope {
    font-size: 13px;
    padding-bottom:4px;
}

#profile-links {
    margin-top:40px;
}

hr {
    display: block;
    margin: 60px auto;
    border-color:lightgray;
    opacity:0.1;
    width:40vmin;
    transition: ease .4s;
}

#menu .menu-item {
    display: inline-block;
    margin:20px;
    font-size: 18px;
    font-weight: bold;
    min-height:100%;
}

#menu span{
    font-weight: bold;
}

#profile-links a, #menu a, .content a {
    display: inline-block;
    margin:10px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    transition: ease .4s;
}

#profile-links a:hover, #menu a:hover {
    color: var(--main-color);
}

.content {
    display: none;
}

.content > div, #portfolio > div {
    width: 65vw;
    max-width:800px;
    margin: 0 auto;
}

#portfolio > div {
    display:table;
}

.portfolio-item {
    display:table-row;
    text-align: left;
    padding:15px;
    border: 0.5px rgb(235, 235, 235) solid;
    border-radius:4px;
    transition: ease .4s;
    width:30%;
}

.portfolio-img {
    width: 100%;
    border: 0.5px #ebebeb solid;
    filter: opacity(80%);
    transition: ease .4s;
}

.portfolio-description {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0px;
    margin: 10px 0px;
    color: #666;
}

.portfolio-description p {
    color: gray;
}

.portfolio-link {
    text-align: center;
    padding-top:5px;
    transition: ease .4s;
    color: #666;
}

.portfolio-date {
    font-size: 80%;
    margin-left: 5px;
    opacity: 0.7;
    font-style: italic;
}

.portfolio-item:hover {
    background-color: #f4fbfd;
    border-color: var(--main-color);
}

.portfolio-item:hover .portfolio-link {
    color: var(--main-color);
}

.portfolio-item:hover .portfolio-img {
    filter: opacity(100%);
}

.portfolio-item p {
    font-size: 14px;
    margin:7px 0px;
}

#about {
    text-align: center;
    color:gray;
}

#about div {
    text-align: left;
    max-width:700px;
    line-height:28px;
    
}

.curr-item {
    font-size: 24px !important;
    color: var(--main-color) !important;
}


@keyframes easein {
    from { opacity:0; transform: translateY(-2%); }
    to   { opacity:1; transform: translateY(0%); }
}

@media screen and (max-width:767px) {
    .content > div, #portfolio > div {
        width: 85vw;
    }
    hr {
        margin:35px auto;
    }
}

span.bold {
    font-weight: bold;
    color:#666;
}

span.underline {
    text-decoration: underline;
}

span.italic {
    font-style: italic;
}

.footer {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    padding:6px;
    height:25px;
    z-index:1;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px #f5f5f5 solid;
    transition: ease 1s;
}

.footer span {
    font-size:12px;
    color: rgb(185, 185, 185);
}

#about .fa{
    display: table-cell;
    text-align: center;
    width: 60px;
    font-size: 30px;
    float: left;
}

#about p {
    display: table-cell;
}

#about div {
    margin:20px auto;
}